.clock-wrapper {
  z-index: 1;
  font-family: inherit
}

.clock-wrapper .react-timekeeper {
  font-family: inherit;
  box-shadow: none;
}

.clock-wrapper .react-timekeeper__top-bar {
  background-color: #FFA400;
  padding: 8px;
  font-family: inherit;
}

.react-timekeeper__top-bar .react-timekeeper-button-reset {
  transform: translateY(1px);
  padding: 0 0 0 8px;
}

.clock-wrapper .css-1se0bia,
.clock-wrapper .css-eg4puu,
.clock-wrapper .css-n0t0em {
  color: #000;
  font-weight: 400;
}

.clock-wrapper .react-timekeeper__tb-hour,
.clock-wrapper .react-timekeeper__tb-minute,
.clock-wrapper .react-timekeeper__tb-colon,
.clock-wrapper .react-timekeeper-button-reset {
  color: #FFF;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #FFA400;
}

.clock-wrapper .react-timekeeper__clock-hand,
.clock-wrapper .react-timekeeper__hand-circle-outer {
  fill: #FCD286;
  stroke: #FCD286;
}

.clock-wrapper .react-timekeeper__done-button {
  display: none;
}
